### Laravel template
.env.*.php
.env.php
.env
/deploy.php
config/database.php
storage/framework/
storage/logs/
config/remote.php
app/Http/Controllers/Server.php
# Created by .ignore support plugin (hsz.mobi)
